<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.SreplyMapper">

	<select id="selectAll" resultType="SreplyDTO">
		select * from sreply order by RWRDA desc
	</select>

	<select id="selectSID" resultType="SreplyDTO" parameterType="string">
		select * from sreply where sid=#{sid}
	</select>

	<select id="countReview" resultType="int" parameterType="string">
		select count(*) from sreply where sid=#{sid}
	</select>

	<insert id="insertReply" parameterType="SreplyDTO">
		insert into sreply(sid,rid,rcontent,rappr,userid)
		values(#{sid},#{rid},#{rcontent},#{rappr},#{userid})
	</insert>
</mapper>